<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_hint_+1_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,104}</string>
                <key>spriteSourceSize</key>
                <string>{163,104}</string>
                <key>textureRect</key>
                <string>{{0,0},{163,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_hint_+2_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,118}</string>
                <key>spriteSourceSize</key>
                <string>{187,118}</string>
                <key>textureRect</key>
                <string>{{163,0},{187,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_undo_+1_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,107}</string>
                <key>spriteSourceSize</key>
                <string>{150,107}</string>
                <key>textureRect</key>
                <string>{{350,0},{150,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_undo_+2_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,121}</string>
                <key>spriteSourceSize</key>
                <string>{170,121}</string>
                <key>textureRect</key>
                <string>{{500,0},{170,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mbc_+1_hint_earn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,108}</string>
                <key>spriteSourceSize</key>
                <string>{167,108}</string>
                <key>textureRect</key>
                <string>{{670,0},{167,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mbc_+1_hint_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,113}</string>
                <key>spriteSourceSize</key>
                <string>{166,113}</string>
                <key>textureRect</key>
                <string>{{837,0},{166,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mbc_+2_hint_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,113}</string>
                <key>spriteSourceSize</key>
                <string>{166,113}</string>
                <key>textureRect</key>
                <string>{{1003,0},{166,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>items.png</string>
            <key>size</key>
            <string>{1169,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:715b58bc55c04b5b4f619dfc3cb95939:36c07077a9d04791fa680c81af71e9e1:9b2c40378ce3448cae3ca053079d3001$</string>
            <key>textureFileName</key>
            <string>items.png</string>
        </dict>
    </dict>
</plist>
