<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chance_tex.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,74}</string>
                <key>spriteSourceSize</key>
                <string>{305,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{305,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1772,481}</string>
                <key>spriteSourceSize</key>
                <string>{1772,481}</string>
                <key>textureRect</key>
                <string>{{0,74},{1772,481}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>text.png</string>
            <key>size</key>
            <string>{1772,555}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22faaca21939c5599c1200be806ec133:3253be72e7f8d4921bbc3bfaf85c2cb7:771fef741166e532cf41f06d8c5cfc62$</string>
            <key>textureFileName</key>
            <string>text.png</string>
        </dict>
    </dict>
</plist>
