<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t_theme_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,296}</string>
                <key>spriteSourceSize</key>
                <string>{253,296}</string>
                <key>textureRect</key>
                <string>{{1259,0},{253,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_theme_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,296}</string>
                <key>spriteSourceSize</key>
                <string>{253,296}</string>
                <key>textureRect</key>
                <string>{{0,592},{253,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_theme_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,296}</string>
                <key>spriteSourceSize</key>
                <string>{253,296}</string>
                <key>textureRect</key>
                <string>{{253,592},{253,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_theme_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,296}</string>
                <key>spriteSourceSize</key>
                <string>{253,296}</string>
                <key>textureRect</key>
                <string>{{506,592},{253,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_theme_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,296}</string>
                <key>spriteSourceSize</key>
                <string>{253,296}</string>
                <key>textureRect</key>
                <string>{{1512,0},{253,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_theme_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,296}</string>
                <key>spriteSourceSize</key>
                <string>{253,296}</string>
                <key>textureRect</key>
                <string>{{0,296},{253,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_theme_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,296}</string>
                <key>spriteSourceSize</key>
                <string>{253,296}</string>
                <key>textureRect</key>
                <string>{{253,296},{253,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_theme_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,296}</string>
                <key>spriteSourceSize</key>
                <string>{253,296}</string>
                <key>textureRect</key>
                <string>{{506,296},{253,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_theme_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,296}</string>
                <key>spriteSourceSize</key>
                <string>{253,296}</string>
                <key>textureRect</key>
                <string>{{759,296},{253,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_theme_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,296}</string>
                <key>spriteSourceSize</key>
                <string>{253,296}</string>
                <key>textureRect</key>
                <string>{{1012,296},{253,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_theme_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,296}</string>
                <key>spriteSourceSize</key>
                <string>{253,296}</string>
                <key>textureRect</key>
                <string>{{1265,296},{253,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_theme_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,296}</string>
                <key>spriteSourceSize</key>
                <string>{253,296}</string>
                <key>textureRect</key>
                <string>{{1518,296},{253,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_theme_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,296}</string>
                <key>spriteSourceSize</key>
                <string>{253,296}</string>
                <key>textureRect</key>
                <string>{{759,592},{253,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_theme_pop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{678,895}</string>
                <key>spriteSourceSize</key>
                <string>{678,895}</string>
                <key>textureRect</key>
                <string>{{1289,592},{678,895}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_theme_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,320}</string>
                <key>spriteSourceSize</key>
                <string>{277,320}</string>
                <key>textureRect</key>
                <string>{{1012,592},{277,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_themes_tex.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,53}</string>
                <key>spriteSourceSize</key>
                <string>{239,53}</string>
                <key>textureRect</key>
                <string>{{714,0},{239,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_mini_game_tex.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,55}</string>
                <key>spriteSourceSize</key>
                <string>{306,55}</string>
                <key>textureRect</key>
                <string>{{953,0},{306,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_unlock_game_tex.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,52}</string>
                <key>spriteSourceSize</key>
                <string>{362,52}</string>
                <key>textureRect</key>
                <string>{{352,0},{362,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unlock_theme_tex.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,45}</string>
                <key>spriteSourceSize</key>
                <string>{352,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{352,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>themes.png</string>
            <key>size</key>
            <string>{1967,1487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06525874f4dc889e701fa03a5f54fe1b:2ad8f08d77be8ba7f3e5741d491d5bdc:f12b3924629b4c34049acac85c141f53$</string>
            <key>textureFileName</key>
            <string>themes.png</string>
        </dict>
    </dict>
</plist>
